@model CopyCatsDetective.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { parentId = Model.Id })
</p>

<div>
    <h4>Category</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@{
    var grid = new WebGrid(Model.CodePools, canPage: true, canSort: true, rowsPerPage: 5, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.NextPrevious);
}

<h3>Code Pools</h3>

<p>
    @Html.ActionLink("Create Code Pool", "Create", "CodePools", new { categoryId = Model.Id}, null)
</p>

<div id="gridContent">
    @grid.GetHtml(tableStyle: "webGrid",
            headerStyle: "header",
            alternatingRowStyle: "alt",
            selectedRowStyle: "select",
            columns: grid.Columns(
            //grid.Column("Id"), format: (item) => item.GetSelectLink(item.Id)),
            grid.Column("Name", "Name", format: (item) => @Html.ActionLink((string)item.Name, "Details", "CodePools", new { id = item.Id }, null)),
            grid.Column("Language", "Language")
     ))
</div>