@using CopyCatsDetective.Helpers
@model CopyCatsDetective.Models.Organization

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Organization</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h3>Categories</h3>

@(Html.TreeView(Model.Categories)
 .EmptyContent("No locations have been defined yet!")
    .Children(m => m.Categories)
    .HtmlAttributes(new { id = "tree" })
    .ChildrenHtmlAttributes(new { @class = "subItem" })
    .ItemText(m => m.Name)
    .ItemTemplate(
        @<text>
            @Html.ActionLink(item.Name, "Details", "Categories", new { id = item.Id }, null)
        </text>)
)

<h3>Students</h3>

<p>
    @Html.ActionLink("Register", "Register", "Account", routeValues: new { organizationId = Model.Id }, htmlAttributes: new { id = "registerLink" })
</p>